@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using CardGameCo.Controllers

@model User

<div class="col-12">
    <div class="row">
        <h1>CardGameCo</h1>
    </div>
    <div class="row">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "col-4" })
                @Html.TextBoxFor(m => m.Email, new { @class = "col-8"})
            </div>

            <div>
                @Html.LabelFor(m => m.Password, new { @class = "col-4" })
                @Html.TextBoxFor(m => m.Password, new { @class = "col-8" })
            </div>

            <input class="mt-5" type="submit" value="Submit" />
        }

    </div>
    <div class="row">
        <div class="col-12">
            @Html.ActionLink("Sign Up", "SignUp", "Home", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>