@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using CardGameCo.Controllers;

@model User

<div class="container">
    <div class="row text-center">
        <h1>Sign Up</h1>
    </div>
    <div class="row">
        @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(m => m.UserName)
                </span>
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(m => m.Email)
                </span>
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.EmailVerify, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.EmailVerify, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(m => m.EmailVerify)
                </span>
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control passwordInput" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(m => m.Password)
                </span>
            </div>

            <div class="mb-3">
                @Html.LabelFor(m => m.PasswordVerify, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.PasswordVerify, new { @class = "form-control col-md-6 passwordInput" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(m => m.PasswordVerify)
                </span>
            </div>
            <div class="row">
                @Html.ActionLink("Back", "Index", "Home", new { }, new { @class = "btn btn-danger col-md-3 text-decoration-none" })
                <button type="submit" class="btn-lg btn-success col-md-3 offset-md-6">Sign up</button>
            </div>
            
        }
    </div>

</div>

